
@charset "utf-8";
#newsfeed, #newsfeed div {
    overflow: hidden;
}
#newsfeed .userStream {
    border-style: none none solid;
    margin: 0 0 15px;
    padding: 0 0 10px;
}
#newsfeed .userStream .pic {
    float: left;
    min-width: 55px;
    width: 11%;
}
#newsfeed .userStream .pic img {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin: 2px;
}
#newsfeed .userStream .msgCont {
    float: left;
    width: 87%;
}
#newsfeed .userStream .msgCont .userBox {
    line-height: 1.6em;
    margin: 2px 0 0;
    padding: 3px;
}
#newsfeed .userStream .msgCont .media {
    padding: 2px 0;
}
#newsfeed .userStream .msgCont .msg {
    word-wrap: break-word;
}
#newsfeed .lastUpdate .userStream:last-child {
    border-bottom-width: 3px;
}
#newsfeed .userStream .msg .name {
    font-weight: bold;
}
#newsfeed .userStream .msg .newsfeedMentionNoLess {
    font-weight: bold;
    opacity: 0.8;
}
#newsfeed .userStream .msgFooter {
    margin-top: 2px;
}
#newsfeed .userStream .time {
    color: #808080;
    float: left;
    font-size: 1em;
    width: 45%;
}
#newsfeed .userStream .icon {
    float: left;
    height: 16px;
    padding: 0 5px 0 0;
    width: 16px;
}
#newsfeed .userStream .userBox .icon {
    margin: 2px 0 0 4px;
}
#newsfeed .userStream .actions {
    float: right;
    font-size: 1em;
    text-align: right;
    width: 55%;
}
#newsfeed .userStream .msgCont .userCommentStream .pic {
    float: left;
    min-width: 36px;
    padding: 3px 0 0 3px;
    width: 10%;
}
#newsfeed .userStream .msgCont .userCommentStream .msg {
    float: left;
    margin-top: 3px;
    width: 88%;
}
#newsfeed .userStream .msgCont .userCommentStream .msg .name {
    padding-right: 3px;
}
#newsfeed .userStream .msgCont .userCommentStream .time {
    color: #999999;
    float: left;
    font-size: 11px;
    width: 45%;
}
#newsfeed .w100 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #787878;
    height: 50px;
    padding: 3px;
    width: 98%;
}
#newsfeed .replyButton {
    border-radius: 3px 3px 3px 3px;
    float: right;
    margin: 1px;
    text-align: right;
}
#newsfeed .radius, a.moreButton {
    border-radius: 3px 3px 3px 3px;
}
a.moreButton {
    display: block;
    font-size: 1.083em;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 97%;
}
.newsfeed_photo {
    border: 1px solid #CCCCCC;
    margin: 3px 3px 0;
    padding: 3px;
}
#status_form {
    margin-bottom: 20px;
    position: relative;
}
#status_form label {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
}
#status_form_suggestions {
    border-radius: 3px 3px 3px 3px;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 85px;
    width: 96%;
    z-index: 1;
}
#status_form_suggestions li {
    display: block;
    list-style: none outside none;
    margin-bottom: 5px;
}
#status_form_suggestions li.hovered {
    background-color: #E2E2E2;
    color: #666666;
}
#status_form_suggestions.hidden, #status_form_suggestions .hidden {
    display: none;
}
#status_form_suggestions img {
    margin-right: 5px;
    vertical-align: -4px;
}
#status_form_suggestions li.last {
    margin-bottom: 0;
}
#status_form_suggestions li img {
    height: 24px;
    margin-right: 15px;
    vertical-align: middle;
    width: 24px;
}
#status_form_suggestions li span.status_form_suggested_username {
    margin-right: 15px;
}
#status_form_actions {
    float: right;
    margin: 4px 1px 0 0;
    overflow: hidden;
    z-index: -1;
}
#mentionResultsLoading {
    margin: 0 auto;
    padding: 3px;
    text-align: center;
}
.panel #status_form_actions {
    margin-right: 4px;
}
#status_form_actions div.status_form_action {
    display: inline;
    float: right;
    font-size: 11px;
    margin-left: 15px;
}
#status_form_actions div.vertical_align_action {
    margin-top: 3px;
}
#status_form_suggestions li {
    cursor: pointer;
}
#status_form_media {
    float: left;
    padding: 0;
    width: 100%;
}
#status_form_media ul {
    line-height: 1.6em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#status_form_media ul li {
    float: left;
    list-style: none outside none;
    margin: 4px 3px 0 0;
}
#status_form_media ul li a {
    font-size: 1em;
    font-weight: normal;
    padding: 2px 3px 2px 20px;
    text-decoration: none;
}
#status_form_media ul li a:hover {
    text-decoration: underline;
}
#status_form_media ul li.active {
    background: url("/images/newsfeed_arrow.png") no-repeat scroll center 20px transparent;
    margin-right: 10px;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 4px;
}
#statusMsgContainer {
    clear: both;
}
#top_block_no_new_people_tabs #status_form_media ul li.active {
    background-position: center 28px;
    padding-top: 4px;
}
#top_block_no_new_people_tabs #status_form_media ul li.title_attach {
    padding-top: 4px;
}
#top_block_no_new_people_tabs #status_form_media ul li {
    padding-top: 2px;
}
#status_form_media ul li.active a {
    border-radius: 3px 3px 3px 3px;
    color: #787878;
    padding: 4px 8px 3px 23px;
}
#status_form_media ul li.title_attach {
    font-weight: bold;
    padding-right: 5px;
}
#status_form_media ul li.update_status a {
    background: url("/images/icons/user-white.png") no-repeat scroll 3px 45% #EBEBEB;
}
#status_form_media ul li.add_photos a {
    background: url("/images/icons/image.png") no-repeat scroll left center transparent;
}
#status_form_media ul li.add_video a {
    background: url("/images/icons/film.png") no-repeat scroll left center transparent;
}
#status_form_media ul li.add_file a {
    background: url("/images/icons/blue-document.png") no-repeat scroll left center transparent;
}
#status_form_media ul li.add_link a {
    background: url("/images/icons/chain.png") no-repeat scroll left center transparent;
}
#status_form_media ul li.add_event a {
    background: url("/images/icons/calendar-day.png") no-repeat scroll left center transparent;
}
#status_form_media ul li.add_blog a {
    background: url("/images/icons/blog.png") no-repeat scroll left center transparent;
}
#status_form_media ul li.add_location a {
    background: url("/images/icons/map-pin.png") no-repeat scroll left center transparent;
}
#newsfeed_filters {
    border-style: none none solid;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
#newsfeed_filters a {
    border-radius: 3px 3px 3px 3px;
    font-size: 1em;
    margin-right: 8px;
    padding: 3px 6px;
}
:first-child + html #newsfeed_filter_everybody, *:first-child + html #newsfeed_filter_only_friends {
    background: none repeat scroll 0 0 transparent;
    font-weight: bold;
}
#updateNewsFeed {
    cursor: pointer;
    margin: 10px auto;
    padding: 10px 30px;
}
#updateNewsFeed > img {
    margin-right: 5px;
}
#updateNewsFeed span.updateNewsFeedText {
    opacity: 0.9;
}
#updateNewsFeed:hover span.updateNewsFeedText {
    text-decoration: underline;
}
#status_form_update_button {
    width: 100px;
}
#status_form .facebook {
    float: right;
    font-size: 11px;
    margin: 6px 8px 0 0;
}
#status_form input.facebook {
    margin: 6px 0 0;
}
#status_msg {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    min-height: 40px;
    overflow: hidden;
    padding: 2px 4px;
    width: 98%;
}
#status_form input[type="button"] {
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
}
#status_form .status_button_disabled input[type="button"] {
    float: left;
    opacity: 0.2;
    width: 20%;
}
#status_form .status_icons {
    border-radius: 6px 6px 6px 6px;
    float: left;
    margin: 5px 0;
    padding: 3px;
    text-align: left;
    width: 130px;
}
#status_form .status_icons .txt {
    float: left;
    font-size: 11px;
    margin: 5px 0 0 4px;
    width: 35%;
}
#status_form .status_icons .img {
    float: left;
    margin-top: 3px;
    width: 60%;
}
#block_no_new_people_tabs .tabs10Cont {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
.tabs10Cont #newsfeed {
    width: 98%;
}
.g-fw-mentions-input-box {
    position: relative;
}
.g-fw-mentions-input-box textarea {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #DCDCDC;
    display: block;
    height: 18px;
    outline: 0 none;
    overflow: hidden;
    padding: 9px;
    position: relative;
    resize: none;
    width: 100%;
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list {
    display: none;
    left: 0;
    margin-top: -2px;
    position: absolute;
    right: 0;
    z-index: 10000;
}
#horizontal_tab_menu_people_wall-content .g-fw-mentions-input-box .g-fw-mentions-autocomplete-list {
}
#newsfeed .g-fw-mentions-input-box .g-fw-mentions-autocomplete-list {
    margin: 0 auto;
    position: relative;
    width: 99%;
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li {
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
    display: block;
    height: 26px;
    line-height: 26px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0 5px;
    white-space: nowrap;
    width: auto;
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li:last-child {
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li > img, .g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li > div.icon {
    float: left;
    height: 16px;
    margin-right: 5px;
    margin-top: 5px;
    width: 16px;
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li em {
    font-weight: bold;
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li:hover, .g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li.active {
}
.g-fw-mentions-input-box .g-fw-mentions-autocomplete-list li b {
    font-weight: bold;
    text-decoration: underline;
}
.g-fw-mentions-input-box .g-fw-mentions {
    bottom: 0;
    left: 1px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    right: 0;
    top: 1px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.g-fw-mentions-input-box .g-fw-mentions > div {
    white-space: pre-wrap;
    width: 100%;
}
.g-fw-mentions-input-box .g-fw-mentions > div > strong {
    font-weight: normal;
}
.g-fw-mentions-input-box .g-fw-mentions > div > strong > span {
}
