
@charset "utf-8";
#bg_differentiation {
    background-image: url("/images/popup_images/overlay.png");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
* html #bg_differentiation {
    background-color: transparent;
    background-image: url("/images/blank.gif");
}
#bg_differentiation.light {
    background-image: url("/images/popup_images/overlay_white.png");
}
.ajaxModalBox {
    background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 20px #000000;
    padding: 30px;
    text-align: left;
}
#ajax_popup.light .ajaxModalBox {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 10px #CCCCCC;
}
#ajax_popup {
    color: #555555;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    text-align: right;
    top: 100px;
    width: 500px;
    z-index: 100;
}
#ajax_popup.light {
    margin-left: -300px;
    width: 600px;
}
#ajax_popup label, #ajax_popup h1, #ajax_popup h2, #ajax_popup h6, #ajax_popup div, #ajax_popup input {
}
.nicEdit-main div {
}
input:focus, textarea:focus {
    outline: medium none;
}
#ajax_popup h1 {
    color: #6F6B5E !important;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 16px;
    margin: 0 0 15px;
    min-width: 380px;
    padding-left: 22px;
    position: relative;
}
#ajax_popup a {
    color: #0093C8;
    text-decoration: underline;
}
#ajax_popup a:hover {
    text-decoration: underline;
}
#ajax_popup_content {
}
#ajax_popup_content .msg_error {
    background-color: #EFEFEF !important;
    border-color: #CCCCCC;
    color: #333333;
}
#ajax_popup .info {
    background: url("/images/ajax_popup_info_bg.png") no-repeat scroll left center transparent;
    border: medium none;
    color: #333333;
    margin: 0 0 20px;
    padding: 10px 0 12px 35px;
}
#ajax_popup .error {
    background: url("/images/ajax_popup_error_bg.png") no-repeat scroll left center transparent;
    border: medium none;
    color: #333333;
    margin: 0 0 20px;
    padding: 10px 0 12px 35px;
}
#ajax_popup .success {
    background: url("/images/ajax_popup_success_bg.png") no-repeat scroll left center transparent;
    border: medium none;
    color: #333333;
    margin: 0 0 20px;
    padding: 10px 0 12px 35px;
}
.cancel_button {
    background: none repeat scroll 0 0 #DDDDDD !important;
    border-color: #CCCCCC !important;
    box-shadow: none !important;
    color: #6F6B5E !important;
    text-shadow: none !important;
}
#ajax_popup .module_box_button_container {
    margin-bottom: 0;
    text-align: right;
}
#ajax_popup .module_box_button_container input {
    margin-bottom: 0;
    margin-top: 0;
}
#ajax_popup #pic_forms {
    margin-bottom: 0;
}
#busy_popup {
    background-color: transparent;
    background-image: url("/images/loading.gif");
    height: 40px;
    position: absolute;
    visibility: hidden;
    width: 40px;
    z-index: 100;
}
#toplevel_warning {
    background-color: #999999;
    background-image: url("img/ajaxpopupbg.gif");
    border-bottom: 2px solid #000000;
    color: #FFFFFF;
    font-family: Trebuchet MS,Sans,Arial,Helvetica,Verdana;
    font-size: 13px;
    font-weight: 700;
    left: 0;
    opacity: 0.95;
    overflow: hidden;
    padding: 12px;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: 100;
}
#toplevel_warning a {
    color: #FFFF00;
    font-family: Trebuchet MS,Sans,Arial,Helvetica,Verdana;
    font-size: 13px;
    font-weight: 700;
}
#toplevel_warning a:hover {
    background-color: #FFFF00;
    color: #000000;
    text-decoration: none;
}
a.closeButton {
    background: url("/images/fugue/cross-button-gray.png") no-repeat scroll 0 0 transparent;
    font-size: 10px;
    height: 9px;
    position: absolute;
    right: 30px;
    text-decoration: none;
    text-indent: -9999px;
    top: 30px;
    width: 9px;
}
.light a.closeButton {
    display: none;
}
.tooltip {
    background-image: url("/images/tooltip_bg.png");
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    height: 75px;
    margin: 0;
    opacity: 0.8;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    visibility: hidden;
    width: 250px;
}
.wysiwyg_editor {
    background: none repeat scroll 0 0 #FFFFFF;
}
#planWarningContainer {
    background: url("/images/planWarning_bg.jpg") no-repeat scroll left top transparent;
    margin: -20px 0 -17px -25px;
    min-height: 220px;
    padding: 0 20px 15px;
    width: 460px;
}
#planWarningContainer h1 {
    margin: 0 !important;
    width: 300px;
}
ul#plan_warning {
    background: url("/images/limit_over.png") no-repeat scroll left 20px transparent;
    margin: 0;
    min-height: 70px;
    padding: 30px 0 0 55px;
    width: 270px;
}
#ajax_popup_content .tabs10Cont {
    padding: 0;
}
#ajax_popup_content .tabs10Cont.special_bg {
    background-color: #F7F7F7;
}
#ajax_popup_content .tabs10Cont.special_border {
    border: medium none;
}
#ajax_popup_content .tabs10Cont.special_text {
    color: #6F6B5E;
}
#ajax_popup_content .tabs10Cont .special_text {
    color: #6F6B5E;
}
#ajax_popup_content .tabs10Cont .special_bg_reverse {
    background-color: #F7F7F7;
}
#ajax_popup_content .tabs10Cont .special_border {
    border: 1px solid #CCCCCC;
}
#ajax_popup_content .tabs10Cont .selected .special_border {
    border-bottom: 0 none !important;
}
#ajax_popup_content .tabs10Cont .moduleThumbnailView.special_border {
    border-style: none none solid;
}
#ajax_popup_content .tabs10Cont .panel {
    margin-bottom: 10px;
    padding: 10px 20px;
}
#ajax_popup_content .tabs10Cont li a {
    font-size: 12px;
    padding: 8px 18px 6px;
}
#ajax_popup .module_box_icon {
    background-image: url("/images/icons/16px-pop-up-icons.png");
    background-repeat: no-repeat;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
    z-index: 10;
}
#ajax_popup .module_box_ideas {
    background-position: 0 0;
}
#ajax_popup .module_box_videochat {
    background-position: -18px 0;
}
#ajax_popup .module_box_auction {
    background-position: -36px 0;
}
#ajax_popup .module_box_joker {
    background-position: -54px 0;
}
#ajax_popup .module_box_ask {
    background-position: -72px 0;
}
#ajax_popup .module_box_home {
    background-position: -90px 0;
}
#ajax_popup .module_box_key {
    background-position: -108px 0;
}
#ajax_popup .module_box_games {
    background-position: -125px 0;
}
#ajax_popup .module_box_funds {
    background-position: -144px 0;
}
#ajax_popup .module_box_music {
    background-position: -162px 0;
}
#ajax_popup .module_box_contact {
    background-position: -180px 0;
}
#ajax_popup .module_box_files {
    background-position: -198px 0;
}
#ajax_popup .module_box_calendar {
    background-position: -216px 0;
}
#ajax_popup .module_box_links {
    background-position: -234px 0;
}
#ajax_popup .module_box_videos {
    background-position: -252px 0;
}
#ajax_popup .module_box_photos {
    background-position: -270px 0;
}
#ajax_popup .module_box_groups {
    background-position: -288px 0;
}
#ajax_popup .module_box_blogs {
    background-position: -306px 0;
}
#ajax_popup .module_box_map {
    background-position: -324px 0;
}
#ajax_popup .module_box_talks {
    background-position: -342px 0;
}
#ajax_popup .module_box_wiki {
    background-position: -360px 0;
}
#ajax_popup .module_box_chat {
    background-position: -378px 0;
}
#ajax_popup .module_box_people {
    background-position: -396px 0;
}
#ajax_popup .module_box_like {
    background-position: -466px 0;
}
