
#pricingTable {
    border: 0 none;
    clear: both;
    margin-bottom: 20px;
    width: 100%;
}
#pricingTable td {
    border-top: 1px dotted #CCCCCC;
    padding: 10px;
    vertical-align: top;
}
#pricingTable td {
    border-top: 1px dotted #CCCCCC;
    padding: 10px;
    vertical-align: top;
}
#pricingTable small {
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: 11px;
}
#pricingTable big {
    font-size: 15px;
}
#pricingTable .planTitle {
    border-top: medium none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#pricingTable .planDesc {
    border-left: 1px dotted #7AD8F0;
    border-top: medium none;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #00A5BF;
}
#pricingTable .price_tr td {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    padding: 25px 10px;
}
.singleTable #pricingTable .price_tr td {
    border-top: medium none;
}
#pricingTable .price_tr td.label {
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: 1em;
}
#pricingTable .space.planTitle {
    filter: none !important;
}
#pricingTable .price_tr .space {
    font-size: 12px;
}
.selected.special_highlight {
    color: #FFFFFF !important;
    opacity: 0.75;
    text-shadow: none !important;
}
.toolTipCont {
    cursor: help;
    position: relative;
}
.toolTip {
    background-color: #FDFDEA;
    border: 1px solid #EDEDD6;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 10px #EEEEEE;
    color: #949494;
    display: none;
    left: 100px;
    margin-right: -700px;
    padding: 6px 10px;
    position: absolute;
    top: 16px;
    width: 600px;
    z-index: 3;
}
.singleTable .toolTip {
    width: 280px;
}
.singleTable {
    float: right;
    margin-top: 20px;
    width: 46%;
}
.planBanners {
    float: left;
    margin-top: 20px;
    padding: 3%;
    width: 45%;
}
.planBanners h3 {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 30px;
}
.planBanners p {
    line-height: 1.6em;
}
.planBanners .plans_mobile_icon {
    background: url("/images/admin/mobil-upgrade-icon2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    margin-left: -35px;
    margin-top: -10px;
    position: absolute;
    width: 32px;
}
.planBanners .plans_valet_icon {
    background: url("/images/admin/mobil-upgrade-icon1.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    margin-left: -35px;
    margin-top: -10px;
    position: absolute;
    width: 32px;
}
.siteFormTitle .toolTip {
    font-size: 12px;
    left: 204px;
    text-align: left;
    top: 7px;
    width: 480px;
}
.toolTip .toolTipOk {
    background: url("/images/home/tooltip_ok.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    left: -9px;
    position: absolute;
    top: -1px;
    width: 12px;
}
.label:hover .toolTip, .siteFormTitle:hover .toolTip {
    display: block;
}
#pricingTable .free {
    background-color: #F3F7FB;
}
#pricingTable .free.planDesc, #pricingTable .free.planTitle {
    border-left: medium none;
}
a.textLink, input.textLink, button.textLink {
    background: -moz-linear-gradient(center top , #EE3824 0%, #B0291A 100%) repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 8px 28px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #A02618;
}
a.textLink:hover, input.textLink:hover, button.textLink:hover {
    color: #EEEEEE !important;
}
a.textLink:active, input.textLink:active {
    background: -moz-linear-gradient(center top , #B0291A 0%, #EE3824 100%) repeat scroll 0 0 transparent;
    margin-top: 1px;
    text-shadow: -1px -1px 0 #A02618;
}
a.textLink.mini {
    padding: 2px 15px !important;
}
.button_disabled, .button_disabled:hover {
    background: -moz-linear-gradient(center top , #CCCCCC 0%, #EEEEEE 100%) repeat scroll 0 0 transparent !important;
    border-radius: 3px 3px 3px 3px !important;
    box-shadow: 0 2px 3px #CCCCCC !important;
    color: #666666 !important;
    cursor: wait !important;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: bold !important;
    margin-bottom: 3px !important;
    padding: 8px 28px !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #FFFFFF !important;
}
#plansVitrin {
    background: -moz-linear-gradient(center top , rgba(206, 240, 244, 0) 50%, #CEF0F4 100%) repeat scroll 0 0 transparent;
    overflow: hidden;
}
#plansVitrin .vitrinsImages {
    float: left;
    margin-right: 2%;
}
#plansVitrin h2 {
    display: block;
    float: left;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
    width: 45%;
}
#plansVitrin p {
    float: left;
    line-height: 1.6em;
    width: 40%;
}
#banner_upgrade_annually {
    background-color: #EFEFEF;
    color: #666666;
    font-size: 11px;
    padding-right: 6px;
}
#banner_upgrade_annually a {
    color: #0292C6;
}
#banner_upgrade_annually .textLink {
    font-size: 11px;
    font-weight: bold;
    margin: -5px;
    padding: 5px 30px;
}
#banner_upgrade_annually .textLink:active {
    margin: -5px;
}
#adminExtraServices h1 {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.packagesBox {
    background: -moz-linear-gradient(center top , #FAFAFA 1%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border: 1px solid #DDDADA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 4px 4px 0 0 #E5E5E5;
    float: left;
    margin-bottom: 50px;
    min-height: 140px;
    padding: 15px;
    position: relative;
    width: 28.1%;
}
:first-child + html .packagesBox {
    height: 200px;
}
:first-child + html .packagesBoxContact {
    top: 180px;
    width: 120px;
}
.packagesBox.email, .packagesBox.impressions, .packagesBox.moderate, .packagesBox.mobile {
    margin-right: 20px;
}
.packagesBox.build, .packagesBox.saml, .packagesBox.flash {
    min-height: 140px;
    width: 95.6%;
}
.packagesBox.flash a.textLink {
    padding: 8px 50px;
    text-align: center;
}
.packagesBox.mobile, .packagesBox.moderate, .packagesBox.language, .packagesBox.payWall {
    width: 45%;
}
.packagesBox.line2 {
    min-height: 80px;
}
#build_icon {
    background: url("/images/admin/admin_build_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 5px 0;
    width: 64px;
}
#mobile_icon {
    background: url("/images/admin/admin_ios_app_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 0 0;
    width: 64px;
}
#moderate_icon {
    background: url("/images/admin/admin_moderate_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 0 0;
    width: 64px;
}
#paywall_icon {
    background: url("/images/admin/admin_paywall_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 0 0;
    width: 64px;
}
#email_icon {
    background: url("/images/admin/admin_mail_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 0 0;
    width: 64px;
}
#saml_icon {
    background: url("/images/admin/admin_valet-saml-icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 5px 0;
    width: 64px;
}
#flash_icon {
    background: url("/images/admin/admin_valet-faster.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 5px 0;
    width: 64px;
}
#language_icon {
    background: url("/images/admin/admin_valet-new-language-icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 5px 0;
    width: 64px;
}
#impressions_icon {
    background: url("/images/admin/admin_impressions_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 0 0;
    width: 64px;
}
#reports_icon {
    background: url("/images/admin/admin_report_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 0 15px 0 0;
    width: 64px;
}
.packagesBox p {
    clear: both;
    color: #949494;
    line-height: 18px !important;
    padding-top: 5px;
}
.packagesBox h4 {
    color: #888888;
    float: left;
    font-size: 22px;
    line-height: 27px;
    margin-top: 25px;
    width: 40%;
}
.packagesBox.line2 h4 {
    font-size: 20px;
    margin-top: 10px;
    width: 65%;
}
.packagesPricing {
    color: #888888;
    float: left;
    font-family: trebuchet MS;
    font-size: 34px;
    line-height: 38px;
    margin-top: 14px;
}
.packagesPricingText {
    color: #888888;
    float: left;
    font-size: 14px;
    margin: 29px 0 0 5px;
}
.packagesBoxContact {
    position: absolute;
    right: 20px;
    top: 150px;
}
.line2 .packagesBoxContact {
    top: 95px;
}
.packagesBoxInput {
    margin-top: 8px;
    width: 230px;
}
#lookandfeelListContainer {
    overflow: hidden;
    padding: 0 15px 15px;
}
ul.lookandfeelListMenu {
    float: left;
    list-style: none outside none;
    margin: 0 6% 0 0;
    padding: 0;
    width: 44%;
}
ul.lookandfeelListMenu h2 {
    display: block;
    font-size: 16px;
    margin: 10px 0 25px;
}
ul.lookandfeelListMenu li {
    margin-bottom: 10px;
    overflow: hidden;
}
ul.lookandfeelListMenu li img {
    float: left;
    margin: 2px 15px 30px 0;
}
ul.lookandfeelListMenu li h3 {
    font-size: 14px;
}
ul.lookandfeelListMenu li p {
    font-size: 11px;
}
.adminValetTextBanner {
    border-left: medium none;
    border-right: medium none;
    padding: 15px;
}
.adminValetTextBanner img {
    float: left;
    margin: 2px 15px 30px 0;
}
.adminValetTextBanner h3 {
    font-size: 14px;
}
.adminValetTextBanner p {
    font-size: 11px;
}
#follow_block {
    padding: 10px;
}
#follow_block h4 {
    border-style: none none solid;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#follow_block p {
    margin-bottom: 10px;
}
.adminIcons {
    background-image: url("/images/admin/top_bar/admin_icons.png?4");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-right: 6px;
    margin-top: 2px;
    width: 16px;
}
.admin_plan_warning {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 4px 8px;
}
