
#gpTopBar {
    background: -moz-linear-gradient(center top , #515257 0%, #434343 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #000D15;
    color: #D2D2D2;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 39px;
    margin: 0;
    padding: 0;
    z-index: 10;
}
#gpTopBarWarp {
    margin: 0 auto;
    position: relative;
    width: 980px;
    z-index: 91;
}
#gpTopBarWarp a {
    color: #0A9EBF;
    text-decoration: none;
}
#gpTopBar #groupsIcon {
    background: url("/images/admin/top_bar/groups_icon_gray27.png") no-repeat scroll 0 0 transparent;
    height: 27px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 27px;
}
#gpTopBar #groupsIcon:hover {
    background: url("/images/admin/top_bar/groups_icon27.png") no-repeat scroll 0 0 transparent;
}
#gpTopBar #groupsLogo {
    height: 17px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 74px;
}
#gpTopBar .topbar_search_form {
    left: 70px;
    position: absolute;
    top: 9px;
}
#gpTopBar #topBarFacebookLike {
    left: 250px;
    position: absolute;
    top: 11px;
}
#gpTopBar #topBarLoveBucks {
    left: 340px;
    position: absolute;
    top: 10px;
}
#gpTopBar #topBarSkimLinks {
    left: 440px;
    position: absolute;
    top: 10px;
}
#gpTopBar .topbar_groups_search_input {
    background: url("/templates/tpl_std/cosy/images/search_bg.png") no-repeat scroll 96% 6px #434343;
    border: 1px solid #555555;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #111111 inset;
    color: #ADB0B3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 4px 6px;
    width: 160px;
}
#gpTopBar .greyedOut {
    opacity: 0.3;
}
#gamingMechanicsWrap {
    left: 80px;
    position: absolute;
    top: 10px;
}
#gamingMechanicsIcon {
    background: url("/images/admin/top_bar/game_mac_bg.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 27px;
}
#gamingMechanicsText a {
    color: #D2D2D2;
    float: left;
    font-weight: bold;
    padding: 6px 0 0 3px;
}
#gamingMechanicsText a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#adminBarMenu {
    left: 40px;
    position: absolute;
    top: 7px;
}
#adminBarMenu .adminBarMenuLeft {
    background: url("/images/admin/top_bar/topbar_but_left.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 27px;
    width: 5px;
}
#adminBarMenu ul {
    background: url("/images/admin/top_bar/topbar_but_bg.png") repeat-x scroll left top transparent;
    float: left;
    height: 27px;
    line-height: 27px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#adminBarMenu ul li {
    float: left;
    height: 26px;
    padding: 0 10px 0 25px;
    position: relative;
}
#adminBarMenu ul li a {
    color: #D2D2D2;
    font-weight: bold;
    text-decoration: none;
}
#adminBarMenu ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#adminBarMenu ul li.up {
    background: url("/images/admin/top_bar/green_up.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.down {
    background: url("/images/admin/top_bar/red_down.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.info {
    background: url("/images/admin/top_bar/yellow_info.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.warning {
    background: url("/images/admin/top_bar/red_warning.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.notr {
    background: url("/images/admin/top_bar/blue_notr.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.free {
    background: url("/images/admin/top_bar/free-plan.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.bronze {
    background: url("/images/admin/top_bar/bronze-plan.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.silver {
    background: url("/images/admin/top_bar/silver-plan.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.gold {
    background: url("/images/admin/top_bar/gold-plan.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.platinum {
    background: url("/images/admin/top_bar/platinium-plan.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li.vip {
    background: url("/images/admin/top_bar/vip-plan.png") no-repeat scroll 10px center transparent;
}
#adminBarMenu ul li#adminBarMenuMember, #adminBarMenu ul li#adminBarMenuInvite, #adminBarMenu ul li#adminBarMenuPageviews, #adminBarMenu ul li#adminBarMenuModeration {
    border-right: 1px solid #2F2F32;
}
#adminBarMenu ul li:last-child {
    border-right: medium none !important;
}
#adminBarMenu .adminBarMenuRight {
    background: url("/images/admin/top_bar/topbar_but_right.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 27px;
    width: 5px;
}
ul#adminRightMenu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 12px;
}
ul#adminRightMenu li {
    float: left;
    position: relative;
}
ul#adminRightMenu li > a {
    color: #D2D2D2;
    font-weight: bold;
    line-height: 16px;
    margin-right: 15px;
    padding: 0 10px 0 22px;
}
ul#adminRightMenu li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
ul#adminRightMenu li#adminBarMenuCustomize {
    background: url("/images/admin/top_bar/customize.png") no-repeat scroll left top transparent;
}
ul#adminRightMenu li#adminBarMenuTools {
    background: url("/images/admin/top_bar/tools.png") no-repeat scroll left top transparent;
}
ul#adminRightMenu li.adminRightMenuButton {
    background: -moz-linear-gradient(center top , #EF4735 0%, #DC3422 100%) repeat scroll 0 0 transparent;
    border-color: #F47E70 #DC3422 #DC3422 #F47E70;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px 8px 2px 5px;
    top: -3px;
}
ul#adminRightMenu li.adminRightMenuButton a {
    color: #FFFFFF;
}
ul#adminRightMenu li.adminRightMenuButton:hover {
    background: -moz-linear-gradient(center top , #CD2917 0%, #B01606 100%) repeat scroll 0 0 transparent;
    border-color: #E13A28 #B01606 #B01606 #E13A28;
}
ul#adminRightMenu li.adminRightMenuButton:active {
    background: -moz-linear-gradient(center top , #D93422 0%, #BE1F0E 100%) repeat scroll 0 0 transparent;
}
ul#adminRightMenu li#adminBarMenuSupport a {
    background: url("/images/admin/top_bar/support-icon-phone.png") no-repeat scroll left top transparent;
}
ul#adminRightMenu li#adminBarRandomGroup a {
    background: url("/images/admin/top_bar/random-groups-icon-white.png") no-repeat scroll left top transparent;
}
ul#adminRightMenu li#adminBarMenuLookNFeel {
    background: url("/images/admin/top_bar/looknfeel.png") no-repeat scroll left top transparent;
}
ul#adminRightMenu li#adminBarMenuClaim {
    background: url("/images/admin/top_bar/claim.png") no-repeat scroll left top transparent;
}
ul#adminRightMenu li#adminBarMenuClaim #claimTips {
    background-color: lightYellow;
    border: 1px solid #CCCC00;
    border-radius: 3px 3px 3px 3px !important;
    color: #666666;
    padding: 3px 5px;
    position: absolute;
    right: -99px;
    text-align: center;
    top: 26px;
    width: 240px;
}
ul#adminRightMenu li#adminBarMenuClaim:hover #claimTips {
    display: none;
}
ul#adminRightMenu li#adminBarMenuClaim #claimTips #claimTipsArow {
    background: url("/images/claim-tips-arow.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 9px;
    left: 42px;
    position: absolute;
    top: -9px;
    width: 17px;
}
ul#adminRightMenu li:last-child a {
    margin-right: 0;
    padding-right: 0;
}
.topBarPanelArrow {
    background: url("/images/admin/top_bar/admin_bar_panel_arrow.png") no-repeat scroll left bottom transparent;
    height: 14px;
    line-height: 20px;
    width: 7px;
}
.topBarPanelWrap {
    display: none;
    position: absolute;
    top: 18px;
}
.topBarPanel {
    background: none repeat scroll 0 0 #282828;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.1);
    padding: 20px 35px;
}
.topBarPanel h3 {
    border-bottom: 1px solid #0A0A0A;
    color: #D2D2D2;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding-bottom: 5px;
}
.topBarPanel .panel_content {
    border-bottom: 1px solid #0A0A0A;
    border-top: 1px solid #323232;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 0;
}
.topBarPanel .panel_content input[type="submit"], .topBarPanel a.adminBarTextButton {
    background: -moz-linear-gradient(center top , #585858 0%, #333333 100%) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #D2D2D2;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 6px 4px;
    text-shadow: none;
}
.topBarPanel .panel_content input[type="submit"]:hover {
    background: none repeat scroll 0 0 #333333;
}
.topBarPanel .panel_content a.adminBarTextButton {
    background: -moz-linear-gradient(center top , #0A9DBE 0%, #0674A3 100%) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #FFFFFF !important;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px 4px !important;
    text-shadow: none;
}
.topBarPanel .panel_footer {
    border-top: 1px solid #323232;
    color: #666666;
    line-height: 30px;
    overflow: hidden;
}
.topBarPanel .panel_footer_link_right {
    float: right;
}
#gamingMechanicsWrap:hover #gamingMechanicsPanel {
    display: block;
}
#gamingMechanicsPanel {
    left: -5px;
}
#gamingMechanicsPanel .topBarPanel {
    width: 500px;
}
#gamingMechanicsPanel .topBarPanelArrow {
    margin-left: 15px;
}
ul#gaming_bar {
    background: none repeat scroll 0 0 #4A4A4B;
    border-radius: 20px 20px 20px 20px;
    height: 17px;
    list-style: none outside none;
    margin: 20px 0;
    padding: 0;
}
ul#gaming_bar li {
    color: #282828;
    float: left;
    font-weight: bold;
    margin-left: -5px;
    padding-left: 20px;
    text-align: center;
    width: 17%;
}
ul#gaming_bar li.back_level {
    background: url("/images/admin/top_bar/game_back.png") no-repeat scroll left top transparent;
}
ul#gaming_bar li.current_level {
    background: url("/images/admin/top_bar/game_active.png") no-repeat scroll left top transparent;
    color: #D2D2D2;
    position: relative;
}
ul#gaming_bar li.next_level {
    background: url("/images/admin/top_bar/game_next.png") no-repeat scroll left top transparent;
}
ul#gaming_bar li.current_level .current_arrow {
    background: url("/images/admin/top_bar/gaming_current_arrow.png") no-repeat scroll left top transparent;
    height: 5px;
    left: 55%;
    position: absolute;
    top: 20px;
    width: 9px;
}
#adminBarMenuModeration:hover #moderationPanel {
    display: block;
}
#moderationPanel {
    left: -40px;
}
#moderationPanel .topBarPanel {
    width: 130px;
}
#moderationPanel .topBarPanelArrow {
    margin-left: 96px;
}
.moderationYellow {
    color: #FFF600;
}
#moderationPanel .topBarPanel .panel_content {
    border-bottom: medium none;
    padding: 8px 0;
}
#adminBarMenuPlan:hover #planPanel {
    display: block;
}
#planPanel {
    left: -188px;
}
#planPanel .topBarPanel {
    width: 230px;
}
.upgrade_req #planPanel .topBarPanel {
    width: 270px;
}
#planPanel .topBarPanelArrow {
    margin-left: 220px;
}
#planPanel .topBarPanel .panel_content {
    border-bottom: medium none;
    padding: 8px 0;
}
.upgrade_req table {
    line-height: 14px;
}
.upgrade_req table tr td {
    padding: 1px 3px;
}
.upgrade_req .td_title {
    color: #FFFFFF;
    font-weight: bold;
}
.upgrade_req .tr_odd {
    background-color: #353535;
}
.upgrade_req .tr_even {
    background-color: buttontext;
}
.upgrade_req .highlight {
    color: Red;
    font-weight: bold;
}
#planPanel .topBarPanel .upgrade_req .panel_content {
    border-bottom: 1px solid #0A0A0A;
    padding: 15px 0;
}
#adminBarMenu ul li a.adminBarTextLink {
    color: #0A9EBF;
}
#customizenPanel {
    left: -285px;
    top: 11px;
}
#customizenPanel .topBarPanel {
    width: 310px;
}
#customizenPanel .topBarPanelArrow {
    margin-left: 333px;
}
.lessVariables {
    float: left;
    line-height: 25px;
    margin-bottom: 10px;
    width: 46%;
}
.lessVariables label {
    display: block;
    line-height: 20px;
}
.lessVariables input[type="text"] {
    width: 55%;
}
.lessVariables .lessColorPic {
    margin-left: 2px;
    margin-top: -4px;
}
.lessVariables input, .lessVariables select {
    background: none repeat scroll 0 0 #3D3D3D;
    border-color: #989898 #F9F9F9 #F9F9F9 #989898;
    border-left: 1px solid #989898;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif !important;
    font-size: 11px !important;
    height: 20px;
    padding: 0 0 0 2px !important;
}
.lessVariables option {
    color: #CCCCCC !important;
    font-family: Tahoma,Geneva,sans-serif !important;
    font-size: 11px !important;
    padding: 2px 4px;
}
.lessVariables select {
    height: 25px;
}
.lessVariables .lessFontSize a {
    color: #D2D2D2;
    padding: 2px 3px;
    text-decoration: none;
}
.lessVariables .lessFontSize a.active {
    background: none repeat scroll 0 0 #3D3D3D;
    border: 1px solid #5F5F5F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
}
.lessVariables .size10 {
    font-size: 10px;
}
.lessVariables .size11 {
    font-size: 11px;
}
.lessVariables .size12 {
    font-size: 12px;
}
.lessVariables .size13 {
    font-size: 13px;
}
.lessVariables .size14 {
    font-size: 14px;
}
.lessVariables .size15 {
    font-size: 15px;
}
.lessVariables .size16 {
    font-size: 16px;
}
#adminBarMenuTools:hover #toolsPanel {
    display: block;
}
#toolsPanel {
    left: -550px;
    top: 11px;
}
#toolsPanel .topBarPanel {
    width: 550px;
}
#toolsPanel .topBarPanelArrow {
    margin-left: 580px;
}
#toolsPanel ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#toolsPanel ul li {
    float: left;
    line-height: 16px;
    margin-bottom: 10px;
    width: 33.3%;
}
#toolsPanel ul li a {
    color: #C9C9C9;
    padding: 0 0 0 5px;
}
#toolsPanel .adminIcons {
    background-image: url("/images/admin/top_bar/admin_icons.png?3");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
#toolsPanel .adminText {
    float: left;
    font-weight: bold;
}
#adminBarMenuClaim:hover #claimPanel {
    display: block;
}
#claimPanel {
    left: -520px;
    top: 11px;
}
#claimPanel .topBarPanel {
    width: 550px;
}
#claimPanel .topBarPanelArrow {
    margin-left: 580px;
}
#claimPanel .topBarPanel .panel_content {
    border-bottom: medium none;
}
#claimVisual {
    float: left;
    margin-right: 20px;
}
#claimPanel h4 {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#claimPanel a.adminBarTextButton {
    margin-top: 15px;
}
#adminBarMenuSupport:hover #supportPanel {
    display: block;
}
#supportPanel {
    left: -170px;
    top: 15px;
}
#supportPanel .topBarPanel {
    width: 190px;
}
#supportPanel .topBarPanelArrow {
    margin-left: 210px;
}
#supportPanel .topBarPanel .panel_content {
    border-bottom: medium none;
}
#zendesk_support_img {
    display: none;
}
#fgHeader {
    background: url("/images/home/headerContainer_bg.jpg") repeat-x scroll center bottom #FFFFFF;
    font-family: Helvetica,Arial,"Lucida Grande",Garuda;
    height: 480px;
    line-height: 20px;
}
#fgHeader .fgWrap {
    background: url("/images/home/sunshine.jpg") no-repeat scroll center top transparent;
    color: #787878;
    height: 480px;
    margin: 0 auto;
    position: relative;
    width: 980px;
}
#fgHeader .fgWrap a {
    color: #0093C8;
    text-decoration: none;
}
#fgHeader a#fgLogo {
    left: 0;
    padding-bottom: 30px;
    padding-right: 30px;
    position: absolute;
    top: 30px;
}
#fgHeader ul#fgNav {
    left: 180px;
    list-style: none outside none;
    position: absolute;
    top: 30px;
    z-index: 11;
}
#fgHeader ul#fgNav li {
    float: left;
}
#fgHeader ul#fgNav li a {
    color: #0A9EBF;
    display: block;
    font-size: 16px;
    margin-right: 40px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
#fgHeader ul#fgNav li a:hover, ul#fgNav li a.active {
    background: none repeat scroll 0 0 #0A9EBF;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
}
#fgSearchBoxDiv {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 11;
}
#fgSearchBoxDiv input[type="text"], #fgSearchBoxDiv input[type="search"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #90D2E9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 #CCCCCC inset;
    color: #999999;
    font-size: 12px;
    padding: 6px 30px 6px 10px;
    width: 160px;
}
#fgSearchBoxDiv input[type="button"] {
    background: url("/templates/tpl_std/cosy/images/search_bg.png") no-repeat scroll 5px 3px transparent;
    border: medium none;
    box-shadow: none;
    height: 17px;
    padding: 0;
    position: absolute;
    right: 3px;
    text-indent: -9999px;
    text-transform: capitalize;
    top: 6px;
    width: 22px;
    z-index: 9;
}
#fg_search_submit_input {
    height: 17px !important;
}
#fgHeader .sfTitle {
    font-size: 15px;
    left: 0;
    position: absolute;
    top: 185px;
    z-index: 11;
}
#fgHeader .sfDesc {
    font-size: 13px;
    left: 0;
    position: absolute;
    top: 230px;
    width: 440px;
    z-index: 11;
}
#fgHeader .butGetStarted {
    background: url("/images/home/butGetStarted.png") no-repeat scroll left top transparent;
    height: 81px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    top: 365px;
    width: 257px;
    z-index: 99;
}
#fgHeader .butGetStarted:active {
    background-position: right top;
    margin-top: 1px;
}
#fgHeader .butGetStarted:visited {
    background-position: right top;
    margin-top: 1px;
}
#fgHeader .butGetStarted a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}
#fgHeader .butGetStarted:hover a {
    color: lightYellow;
}
#fgHeader .butGetStarted h4 a {
    font-size: 17px;
    font-weight: bold;
    padding: 18px 5px 4px 78px;
}
#fgHeader .butGetStarted p a {
    font-size: 11px;
    padding: 0 5px 20px 79px;
}
#fgHeader #fgCreate {
    font-size: 12px;
    left: 75px;
    position: absolute;
    top: 440px;
    z-index: 99;
}
#fgBiplane {
    left: 0;
    position: absolute;
    top: 100px;
    z-index: 11;
}
#fgAirBaloon1 {
    position: absolute;
    right: -100px;
    top: 100px;
    z-index: 11;
}
#fgAirBaloon2 {
    left: -180px;
    position: absolute;
    top: 80px;
    z-index: 11;
}
#fgHeader #sfBanner {
    height: 200px;
    position: absolute;
    right: 0;
    top: 235px;
    width: 500px;
    z-index: 11;
}
